<!-- <h1> Selected answer is {{selectedMethod}}</h1> -->
<div class="card flex justify-content-center">


    <label for="category">Select Module that you want to create:</label>
    <p-dropdown [options]="groupedMethods" [(ngModel)]="selectedMethod" placeholder="Choose a Method" [group]="true">
        <ng-template let-group pTemplate="group">
            <div class="flex align-items-center">
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
                <span>{{ group.label }}</span>
            </div>
        </ng-template>
    </p-dropdown>
    <button onsubmit="submit()">Click Me</button>

</div>
<h2>The clicked is {{isClicked}}</h2>