<div class="left-sidebar">

    <div class="card">
        <p-scrollPanel [style]="{ width: '100%', height: '400px' }">
            <h3>Choose below module</h3>
            <ul>
                <li><a routerLink="/cmms-department" routerLinkActive="active-link">CMMS-Department</a></li>
                <li><a routerLink="/cmms-location" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/cmms-group" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/cmms-asset" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
            </ul>
        </p-scrollPanel>
    </div>
</div>