<div class="left-sidebar">

    <div class="card">
        <p-scrollPanel [style]="{ width: '100%', height: '680px' }">
            <h3>Choose below module</h3>
            <ul>
                <li><a routerLink="/joke">Joke</a></li>
                <li><a routerLink="/comments">Get Comments</a></li>
                <li><a routerLink="/cmms-department" routerLinkActive="active-link">CMMS-Department</a></li>
                <li><a routerLink="/cmms-group" routerLinkActive="active-link">CMMS-Group</a></li>
                <li><a routerLink="/cmms-location" routerLinkActive="active-link">CMMS-Location</a></li>
                <li><a routerLink="/cmms-production-line" routerLinkActive="active-link">CMMS-Production Line</a></li>
                <li><a routerLink="/cmms-problem-category" routerLinkActive="active-link">CMMS Problem Category</a></li>
                <li><a routerLink="/cmms-problem-type" routerLinkActive="active-link">CMMS Problem Type</a></li>
                <li><a routerLink="/cmms-event-code" routerLinkActive="active-link">CMMS- Event Code</a></li>
                <li><a routerLink="/cmms-problem" routerLinkActive="active-link">CMMS-Problem</a></li>
                <li><a routerLink="/cmms-asset-type" routerLinkActive="active-link">CMMS-Asset Type</a></li>
                <li><a routerLink="/cmms-asset" routerLinkActive="active-link">CMMS-Asset</a></li>
                <li><a routerLink="/cmms-asset-mapping" routerLinkActive="active-link">CMMS-Asset Mapping</a></li>
                <li><a routerLink="/oee-shift" routerLinkActive="active-link">OEE-Shift</a></li>
                <li><a routerLink="/oee-plant-calendar" routerLinkActive="active-link">OEE-Plant Calendar</a></li>
                <li><a routerLink="/oee-root-cause-category" routerLinkActive="active-link">OEE-Root Cause</a></li>
                <li><a routerLink="/oee-root-cause" routerLinkActive="active-link">OEE-Root Cause</a></li>
                <li><a routerLink="/oee-tag-mapping" routerLinkActive="active-link">OEE-Tag Mapping</a></li>
                <li><a routerLink="/oee-updown-threshold" routerLinkActive="active-link">OEE-Up/Down Threshold</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
                <li><a routerLink="/two" routerLinkActive="active-link">Two</a></li>
                <li><a routerLink="/three" routerLinkActive="active-link">Three</a></li>
            </ul>
        </p-scrollPanel>
    </div>
</div>